/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
/******************************************
/* LAYOUT
/*******************************************/
#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: hsl(235, 64%, 18%);
}

img {
  width: 12em;
}

div {
  width: 9em;
  height: 9em;
  margin: 1em;
}

p {
  margin: 1em;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#space {
  background-image: url(/background-picker/assets/space.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} 

#ocean {
  background-image: url(/background-picker/assets/ocean.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#rainForest {
  background-image: url(/background-picker/assets/rain_forest.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#waterFall {
  background-image: url(/background-picker/assets/waterfall.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
