@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
/* Box Model Hack */
*,
*::before,
*::after {
     box-sizing: border-box;
     padding: 0%;
     margin: 0%;
}

/* UTILITIES*/
.clearfix::after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.float__left {
     float: left;
}

.float__right {
     float: right;
}

.m__right__1 {
     margin-right: 1em;
}
.m__right__2 {
     margin-right: 2em;
}
.m__right__3 {
     margin-right: 3em;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
     font-family: 'Roboto', sans-serif;
     width: 100%;
     font-size: 16px;
     line-height: 1.5;
}
/* NAVIGATION */
header {
     width: 100%;
     height: 6vh;
     padding-top: 1.5em;
     padding-left: 20em;
     padding-right: 16em;
     color: hsl(225, 100%, 63%);
     border-bottom: solid thin hsl(0, 0%, 92%);
}

ul {
     list-style: none;
     margin-top: .5em;
}

li {
     display: inline;
}

header a {
     margin-left: 2em;
     font-size: 1.3em;
     font-weight: 700;
}

a {
     text-decoration: none;
     color: inherit;
}

.courses {
     margin-top: .3em;
}

form {
     margin-top: .5em;
     margin-left: 1.5em;
}

input {
     border: none;
     height: 2.5vh;
     padding-left: .5em;
     background-color: hsl(0, 0%, 96%);
}

input::placeholder {
     font-weight: 600;
     color: hsl(225, 100%, 63%);
}

.logo {
     margin-left: 23em;
}
/* MAIN */
main {
     padding-left: 25em;
     padding-top: 11em;
}

main > img {
     width: 51em;
}

.student__parah {
     padding-top: 9em;
}

.student__parah span {
     display: block;
     font-family:'Lora',sans-serif ;
     font-size: 4em;
     font-weight: 500;
     line-height: 1.3;
     margin: 0;
}

.student__parah  p {
     width: 66%;
     margin-top: 3em;
     margin-bottom: 2em;
     font-size: 1.2em;
     line-height: 2;
     color: hsl(0, 0%, 45%);
}

.main__nav a {
     padding: .5em 1em;
     margin-right: .5em;
     border-radius: 3px;
     background-color: hsl(225, 100%, 63%);
     color: hsl(0, 0%, 90%);
}


/* BUTTONS */
/* a{
     color: #499eff;
     text-decoration: none;
     font-weight: 600;
     font-family: Arial, Helvetica, sans-serif;
}
ul{
     list-style: none;
     display: flex;
}
li{
     padding-right: .5rem;
} */

/******************************************
/* LAYOUT
/*******************************************/

/* NAVIGATION */
/* .navbar{
     display: grid;
     justify-items: center;
     align-items: center;
     gap: 1em;
     grid-template-columns: repeat(3, 1fr);
     height: 2.5vw;
     border-bottom: #eee 2px solid;
}
.course{
     grid-column: 1 / 2;
     grid-row: 1;
     margin-right: 3rem;
}

.logo{
     grid-column: 2 / 3;
     grid-row: 1;
}
.nav-menu{
     display: flex;
}
.nav-menu > li{
     list-style: none;
     padding: 1rem 2rem 0rem 0rem;
}
/* styling the text in the search field */
/* ::placeholder{
     color: #499eff;
} */
/*putting the search field next to courses */
/* .search{
     display: inline;
}
.search-input{
     padding: .3rem;
     border: none;
     border-radius: .3rem;
     background: #eee;
}
main{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     justify-items: center;
}
aside{
     width: 100%;
     display: grid;
}
.student{
     padding-top: 9rem;
     margin: 0rem;
     line-height: 1.5;
     font-size: 3rem;
}
.lorem{
     line-height: 2rem;
     font-family: Arial, Helvetica, sans-serif;
     color: #888;
}
.learning{
     padding-left: 21rem;
}
.main-menu > li > a{
     background-color: #499eff;
     color: #fff;
     padding: .5rem;
     border-radius: .3rem;
     font-weight: 300;
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
