@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Box Model Hack */
*,
*::before,
*::after {
     box-sizing: border-box;
     padding: 0%;
     margin: 0%;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
     font-family: 'Roboto', sans-serif;
     width: 100%;
     padding: 1em;
     font-size: 16px;
     line-height: 1.5;
}

header {
     width: 100%;
     height: 6vh;
     padding-right: 12em;
     border: solid thin black;
     color: rgb(108, 144, 255);
}

ul {
     list-style: none;
     margin-top: 2em;
}

li {
     display: inline;
}

/* LINKS */

header a {
     margin-left: 2em;
     font-size: 1.3em;
     font-weight: 700;

}

a {
     text-decoration: none;
     color: inherit;
}



.float__left {
     float: left;
}

.float__right {
     float: right;
}
/* BUTTONS */
/* a{
     color: #499eff;
     text-decoration: none;
     font-weight: 600;
     font-family: Arial, Helvetica, sans-serif;
}
ul{
     list-style: none;
     display: flex;
}
li{
     padding-right: .5rem;
} */

/******************************************
/* LAYOUT
/*******************************************/

/* NAVIGATION */
/* .navbar{
     display: grid;
     justify-items: center;
     align-items: center;
     gap: 1em;
     grid-template-columns: repeat(3, 1fr);
     height: 2.5vw;
     border-bottom: #eee 2px solid;
}
.course{
     grid-column: 1 / 2;
     grid-row: 1;
     margin-right: 3rem;
}

.logo{
     grid-column: 2 / 3;
     grid-row: 1;
}
.nav-menu{
     display: flex;
}
.nav-menu > li{
     list-style: none;
     padding: 1rem 2rem 0rem 0rem;
}
/* styling the text in the search field */
/* ::placeholder{
     color: #499eff;
} */
/*putting the search field next to courses */
/* .search{
     display: inline;
}
.search-input{
     padding: .3rem;
     border: none;
     border-radius: .3rem;
     background: #eee;
}
main{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     justify-items: center;
}
aside{
     width: 100%;
     display: grid;
}
.student{
     padding-top: 9rem;
     margin: 0rem;
     line-height: 1.5;
     font-size: 3rem;
}
.lorem{
     line-height: 2rem;
     font-family: Arial, Helvetica, sans-serif;
     color: #888;
}
.learning{
     padding-left: 21rem;
}
.main-menu > li > a{
     background-color: #499eff;
     color: #fff;
     padding: .5rem;
     border-radius: .3rem;
     font-weight: 300;
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
