/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form,input {
  margin: .5em 0;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
